<?php

return [
    'dot_ems' => [

        'default_adapter' => 'database',

        //register mappers using the entity class name as key
        'mapper_manager' => [
            'factories' => [
                SomeMapper::class => SomeMapperFactory::class,
            ],
            'aliases' => [
                SomeEntity::class = > SomeMapper::class,
            ],
        ],

        'options' => [
            SomeEntity::class => [
                'mapper' => [
                    'adapter' => 'database',
                    'table' => 'table name'
                ],
            ],
        ],
    ],
];
